.Container{
  width:100%;
  margin:0 auto;/*设置整个容器在浏览器中水平居中*/
  background:url("../images/bg.png") repeat;
}
.Header{
  height:545px;
}
.logo{
  padding-left:50px;
  padding-top:20px;
  padding-bottom:50px;
}


.Content{
  height:1172px;
  margin-top:5px;
}
.bsLogin{
  height:180px;
  width:800px;
  text-align: center;
  vertical-align:middle;
  margin-left:70px;
  margin-top: 117px;
  background:url("../images/Button1.png") repeat;
  border: 0;
}

.bs_span{
  font-family: "Microsoft Yahei", "Microsoft Yahei";
  color: white;
  font-size: 48px;
  font-weight: 400;
  line-height: 170px;
}

.gj_span{
  font-family: "Microsoft Yahei", "Microsoft Yahei";
  color: white;
  font-size: 48px;
  font-weight: 400;
  line-height: 170px;
}

.gjLogin{
  height:180px;
  width:800px;
  text-align: center;
  vertical-align:middle;
  margin-left:70px;
  margin-top:28px;
  background:url("../images/Button2.png") repeat;
}
.register{
  height: 180px;
  width:680px;
  padding:5px;
  text-align: center;
  margin:130px auto;
  border:1px solid #000;
  border-image-source:url("../images/Button3.png");
  border-image-slice:10;
  border-image-repeat:stretch;
}

.register_span{
  font-family: "Microsoft Yahei", "Microsoft Yahei";
  color: #22BD9B;
  font-size: 48px;
  font-weight: 400;
  line-height: 170px;
}
.border-1{border-image-width:20px;}
.im-com{
  height:50px;
  margin:50px;
  padding:5px;
  font-size:13px;
  border:1px solid #000;
  border-image-source:url(http://img.xiaoho.com/2014/09/border-1.png);
  border-image-slice:10;
  border-image-repeat:stretch;
}