<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- Data Source -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="com.msk.common.datasource.DruidDataSourceFactory">
                <!-- <property name="driver" value="com.mysql.jdbc.Driver" />-->
                <!--<property name="url" value="jdbc:mysql://10.30.10.14:3306/msk_order" />-->
                <!--<property name="username" value="root" />-->
                <!--<property name="password" value="root" />-->
                <!--<property name="initialSize" value="1"/>-->
                <!--<property name="maxActive" value="1"/>-->
                <!--<property name="maxWait" value="6000"/>-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151501.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151502.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151506.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151507.xml" />
		<mapper resource="com/msk/order/dao/sql/SqlMap-ISO151413.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151510.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151402.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151401.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151405.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151404.xml" />
        <mapper resource="com/msk/order/dao/sql/SqlMap-ISO151410.xml" />
		<mapper resource="com/msk/order/dao/sql/SqlMap-ISO151414.xml" />
		<mapper resource="com/msk/order/dao/sql/SqlMap-ISO151415.xml" />
    </mappers>
</configuration>