body{margin: 0;padding: 0; height: 100%;}
body a:link {TEXT-DECORATION: none;}
body a:visited {TEXT-DECORATION: none;}
body a:hover {TEXT-DECORATION: none;}
body a:active {TEXT-DECORATION: none;}
a:focus{outline:none;}
li{list-style-type:none}
.main{
    margin-top:44px;
    float: left;
    width: 100%;
}
.divClass  .content{
    vertical-align:middle;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    font-family: "微软雅黑";.
}


.bottom_add_words{
    color: white;font-size: 24px;height: 60px;line-height: 60px;
}
.loginOut_contain{
    height:60px;
    background-color: #002e62;
    color:white;
    text-align: center;
}
.footer{
    background-color: #002e62;
    background: none
}
.bottom_add_words{
    line-height: 60px;
    font-size: 1.5rem;
}
.setUl{
    padding:0px;
    margin:0px;
}
.setUl li{
    padding:5px 20px 5px 20px;
    border-bottom:1px solid lightgray;
    background:url("../image/jiantou.png") no-repeat center right;
    background-size: 3%;
    background-position: 95%;
    background-color: white;
}